{% extends "index.html" %}

{% block headline1 %}Сайты{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table table-bordered table-hover text-nowrap" data-test="urls">
    <thead>
    <tr>
      <th>ID</th>
      <th>Имя</th>
      <th>Последняя проверка</th>
      <th>Код ответа</th>
    </tr>
    </thead>
    <tbody>
    {% for url in urls %}
        <tr>
          <td>{{ url.id }}</td>
          <td>
            <a href="{{ url_for('show_url', id=url.id) }}">{{ url.name }}</a>
          </td>
          <td>{{ url.created_at if url.created_at else '' }}</td>
          <td>{{ url.status_code if url.status_code else '' }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}