{% extends "index.html" %}

{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}

{% block headline1 %}Сайт: {{ url.name }}{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url.created_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('check_and_add_url', id=url.id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>
<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
            {% for url_checked in urls_checked %}
            <tr>
                <th>{{ url_checked.id }}</th>
                <th>{{ url_checked.status_code if url_checked.status_code else '' }}</th>
                <th>{{ url_checked.h1 if url_checked.h1 else '' }}</th>
                <th>{{ url_checked.title if url_checked.title else '' }}</th>
                <th>{{ url_checked.description if url_checked.description else '' }}</th>
                <th>{{ url_checked.created_at }}</th>
            </tr>
            {% endfor %}
        </thead>
    </table>
</div>
{% endblock %}